card.set_card_value(card.get_card_value() + 4)
current_player.get_parent().update_scores()

var discardable = []
if len(current_player.play_pile) > 1:
    for _card in current_player.play_pile:
        if _card != card:
            discardable.append(_card)

{% call wait_for("current_player", "choice_made") %}
current_player.make_choice(card, discardable, true)
{% endcall %}

current_player.move_card_to_new_pile(choice, "play_pile", "discard_pile")

