var both_play_piles = []
var other_play_pile = []
other_play_pile.append_array(other_player.play_pile.duplicate())
other_play_pile.invert()
both_play_piles.append_array(current_player.play_pile.duplicate())
both_play_piles.append_array(other_play_pile)
both_play_piles.erase(card)

for _card in both_play_piles:
    if not (_card.is_flexible and ((_card.flexible_low_value == 1 and _card.flexible_high_value == 11) or (_card.flexible_low_value == -11 and _card.flexible_high_value == -1))):
        both_play_piles.erase(_card)

if both_play_piles.size() > 0:
    {% call wait_for("current_player", "choice_made") %}
    current_player.make_choice(card, both_play_piles, true)
    {% endcall %}

current_player.burn_card(choice)