card.card_description = "{start_trigger}On hit and {keyword_exploit}:{end_trigger} this card gains 1 energy (currently " + str(card.x_value) + ").\n{start_trigger}On stand:{end_trigger} discharge all energy, dealing 5 damage for each."